.equi-box {
  border: solid 1px $third-color;

  ul {
    padding: 10px;
  }

  li {
    list-style: none;
    padding: 5px 10px 5px 5px;
  }

  select{
    border-radius: 0;
  }

  input{
    border-radius: 0;
  }

}

.equilabel {
  background: $third-color;
  width: 100%;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 0px;
}

.hover {
  li:hover {
    background-color: #EEEEEE;
    padding: 5px 10px 5px 5px;
  }
}
