<div class="col-md-10 col-md-offset-1" ng-controller="AdminEquipmentManagerController">
    <div id="equibox" class="equi-box">
        <div class="col-xs-12 col-md-6" style="padding: 0">
            <ul>
                <li>
                    <div>
                        <label for="equi-fix" class="equilabel">Raumausstattung</label>
                    </div>
                    <div class="clearfix"></div>
                    <div id="equi-fix" class="equi-box">
                        <ul>
                            <li>
                                <div class="col-xs-12 col-md-12">
                                    <p class="input-group" style="margin-top:15px;">
                                        <input type="text" class="form-control" ng-model="newFixEquipment"
                                               placeholder="Neue fixes Equipment hinzufügen..."/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="addFixEquipment()">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                        <ul class="hover">
                            <li>
                                <div class="col-xs-12 col-md-8">
                                    <p><b>Beschreibung</b></p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li ng-repeat="fix in activeFixEquipments">
                                <div class="col-xs-12 col-md-8">
                                    <p>{{ fix.description }}</p>
                                </div>
                                <div class="clearfix visible-xs"></div>
                                <div class="col-xs-12 col-md-4">
                                    <button type="button" class="btn btn-sm" ng-click="openEditFixEquipmentModal(fix)">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <button type="button" class="btn btn-sm">
                                        <span class="glyphicon glyphicon-remove"
                                              ng-click="openDeleteFixEquipModal(fix)"></span>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-6" style="padding: 0">
            <ul>
                <li>
                    <div>
                        <label for="equi-fix2" class="equilabel">Zusatzausstattung</label>
                    </div>
                    <div class="clearfix"></div>
                    <div id="equi-fix2" class="equi-box">
                        <ul>
                            <li>
                                <form>
                                    <div class="col-xs-12 col-md-9">
                                        <input type="text" class="form-control" style="margin-top:15px;"
                                               placeholder="Vari. Equipment hinzufügen..." ng-model="newVarEquipment"/>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <input type="text" class="form-control" style="margin-top:15px;"
                                               placeholder="Menge" ng-model="newVarEquipmentStock"/>
                                        <br>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-12 col-md-12">
                                        <button type="submit" class="btn btn-sm" ng-click="addVarEquipment()">
                                            Hinzufügen
                                        </button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </li>
                        </ul>
                        <ul class="hover">
                            <li>
                                <div class="col-xs-3 col-md-2">
                                    <p><b>Menge</b></p>
                                </div>
                                <div class="col-xs-9 col-md-6">
                                    <p><b>Beschreibung</b></p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li ng-repeat="variable in activeVarEquipments">
                                <div class="col-xs-3 col-md-2">
                                    <p>{{ variable.stock }}</p>
                                </div>
                                <div class="col-xs-9 col-md-6">
                                    <p>{{ variable.description }}</p>
                                </div>
                                <div class="clearfix visible-xs"></div>
                                <div class="col-xs-12 col-md-4">
                                    <button type="button" class="btn btn-sm"
                                            ng-click="openEditVarEquipmentModal(variable)">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <button type="button" class="btn btn-sm">
                                        <span class="glyphicon glyphicon-remove"
                                              ng-click="openDeleteVarEquipModal(variable)"></span>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script type="text/ng-template" id="ChangeFixEquipment.html">
    <div class="modal-header">
        <h4 class="modal-title" style="display: inline">Raumausstattung ändern</h4>
            <span class="close glyphicon glyphicon-remove" style="float: right; cursor: pointer"
                  ng-click="cancel()"></span>
    </div>
    <div class="modal-body modal-container-bookings">
        <div class="col-xs-4 col-md-4">
            <p>Beschreibung:</p>
        </div>
        <form name="fixEquipFormular">
            <div class="col-xs-8 col-md-8">
                <input name="description" ng-model="equipment.description" type="text" class="form-control" required
                       minlength="3">
                <div ng-messages="fixEquipFormular.description.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Die Beschreibung muss ausgefüllt sein.</div>
                    <div ng-message="minlength">Die Beschreibung ist zu kurz.</div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer modal-container-bookings">
        <button class="btn btn-sm" type="button" ng-click="submit()">Ändern</button>
        <button class="btn btn-sm" type="button" ng-click="cancel()">Schließen</button>
    </div>
</script>

<script type="text/ng-template" id="ChangeVarEquipment.html">
    <div class="modal-header">
        <h4 class="modal-title" style="display: inline">Zusatzausstattung ändern</h4>
            <span class="close glyphicon glyphicon-remove" style="float: right; cursor: pointer"
                  ng-click="cancel()"></span>
    </div>
    <div class="modal-body modal-container-bookings">
        <div class="col-xs-4 col-md-4">
            <p>Beschreibung:</p>
        </div>
        <form name="varEquipFormular">
            <div class="col-xs-8 col-md-8">
                <input ng-model="equipment.description" type="text" class="form-control" name="description" required
                       minlength="3">
                <div ng-messages="varEquipFormular.description.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Die Beschreibung muss ausgefüllt sein.</div>
                    <div ng-message="minlength">Die Beschreibung ist zu kurz.</div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-4 col-md-4">
                <p>Menge:</p>
            </div>
            <div class="col-xs-8 col-md-8">
                <input ng-model="equipment.stock" type="number" class="form-control" name="stock" min="1" required>
                <div ng-messages="varEquipFormular.stock.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Die Menge muss ausgefüllt sein.</div>
                    <div ng-message="minlength">Die Menge ist zu klein.</div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer modal-container-bookings">
        <button class="btn btn-sm" type="button" ng-click="submit()">Ändern</button>
        <button class="btn btn-sm" type="button" ng-click="cancel()">Schließen</button>
    </div>
</script>

<script type="text/ng-template" id="deleteEquipment.html">
    <div class="modal-header">
        <h4 class="modal-title" style="display: inline">Ausstattung löschen</h4>
            <span class="close glyphicon glyphicon-remove" style="float: right; cursor: pointer"
                  ng-click="cancel()"></span>
    </div>
    <div class="modal-body modal-container-bookings">
        <div class="col-xs-12 col-md-12">
            Möchten Sie die Ausstattung <strong>{{ equipment.description }}</strong> wirklich löschen?<br>
            Dies kann nicht rückgängig gemacht werden!
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 col-md-12">
            <br>
            <label><input type="checkbox" ng-model="accept"> Ich bestätige, dass die Ausstattung unwiederruflich
                gelöscht wird!</label>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer modal-container-bookings">
        <button class="btn btn-sm" type="button" ng-click="submit()">Löschen</button>
        <button class="btn btn-sm" type="button" ng-click="cancel()">Schließen</button>
    </div>
</script>