<div class="row">
    <div class="col-xs-12 dashboard-container" ng-controller="NotFoundController">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <label for="errorbox" class="dashlabel">404 - Error

                </label>

                <div id="errorbox" class="dashboard-box">
                    <ul class="notfound">
                        <li>
                            <h4>Diese Seite konnte nicht gefunden werden.</h4>

                            <p>Gründe dafür könnten sein, dass Sie eine falsche oder veraltete URL aufgerufen haben -
                                bitte überprüfen Sie diese noch einmal. Oder aber <strong>wir</strong> haben die
                                betreffende Seite archiviert, verschoben oder unbenannt.</p>
                            <button class="btn btn-sm" ng-click="goToPreviousState()">Zurück zur vorherigen Seite</button>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
