body { font-family: Arial, sans-serif; color: #333333; background-color: #FFFFFF; }
body a { color: #B11A3B; }
body .repeat-item.ng-leave { -webkit-transition: 0.8s linear all; transition: 0.8s linear all; }
body .repeat-item.ng-enter, body .repeat-item.ng-leave.ng-leave-active { opacity: 0; height: 0; }
body .repeat-item.ng-leave, body .repeat-item.ng-enter.ng-enter-active { opacity: 1; height: auto; }
body .navbar-nav > li > a:hover { background-color: #BBBBBB; color: #FFFFFF; border-radius: 0; }

footer { background-color: #DDDDDD; height: 40px; position: fixed; padding-top: 10px; }

.btn:focus { color: #FFFFFF; }

.modal-dialog { border-radius: 0 !important; }

.modal-content { border-radius: 0 !important; }

/* Loading Animation
*/
.glyphicon-refresh-animate { color: white !important; -animation: spin .7s infinite linear; -webkit-animation: spin2 .7s infinite linear; }

@-webkit-keyframes spin2 { from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); } }
@keyframes spin { from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); } }
.alertposition { float: right; position: fixed; top: 0; right: 0; margin-top: 75px; margin-right: 30px; z-index: 2000; }

.pagination { margin-bottom: 0px; border-color: #DDDDDD; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { background-color: #B11A3B; color: white !important; border-color: #B11A3B; }

.pagination > li > a:focus, .pagination > li > span:focus { background-color: #B11A3B; color: white; border-color: #B11A3B; }

.pagination > li > a:hover, .pagination > li > span:hover { background-color: #DDDDDD; color: #333333; border-color: #DDDDDD; }

.pagination > li > a, .pagination > li > span { color: #333333; border-color: #DDDDDD; }

/* DATEPICKER
*/
.uib-datepicker-popup { padding-left: 0px !important; padding-right: 0px !important; }

.uib-datepicker .uib-daypicker { background: white !important; }

.uib-datepicker:focus, .uib-daypicker:focus { outline: 0 none; }

.uib-datepicker .active { background: #B11A3B; }

.uib-datepicker .active:hover { background: white; }

/* FOCUS
*/
:focus { outline: 0 none !important; }

/*# sourceMappingURL=style.css.map */
.login-container { margin-top: 50px; margin-bottom: 50px; padding-bottom: 50px; background-color: #DDDDDD; }
.login-container input { padding-left: 5px; padding-right: 5px; margin-top: 5px; height: 40px; width: 100%; background-color: #FFFFFF; color: #999999; }
.login-container input[type=text] { border: 0 solid #FFF; }
.login-container input[type=password] { border: 0 solid #FFF; }
.login-container button { background-color: #B11A3B; color: #FFFFFF; width: 100%; border-radius: 0px; margin-top: 5px; }
.login-container .errorMessage { padding: 10px 15px; color: red; border: solid 2px red; border-radius: 2px; }
.login-container .logo { background-color: #FFFFFF; text-align: center; }
.login-container .logo img { width: 100%; }
@media (max-width: 992px) { .login-container img { height: 150px; width: auto; } }

.passwordreset-container { margin-top: 50px; margin-bottom: 50px; padding-bottom: 50px; background-color: #DDDDDD; }
.passwordreset-container input { padding-left: 5px; padding-right: 5px; margin-top: 5px; height: 40px; width: 100%; background-color: #FFFFFF; color: #999999; }
.passwordreset-container input[type=text] { border: 0 solid #FFF; }
.passwordreset-container input[type=password] { border: 0 solid #FFF; }
.passwordreset-container button { background-color: #B11A3B; color: #FFFFFF; width: 100%; border-radius: 0px; }
.passwordreset-container .logo { background-color: #FFFFFF; text-align: center; }
.passwordreset-container .logo img { width: 100%; }
@media (max-width: 992px) { .passwordreset-container img { height: 150px; width: auto; } }

.reports-box { border: solid 1px #DDDDDD; }
.reports-box ul { padding: 10px; }
.reports-box li { list-style: none; }
.reports-box select { border-radius: 0; }
.reports-box input { border-radius: 0; }

.reportslabel { background: #DDDDDD; width: 100%; padding-left: 10px; padding-top: 4px; padding-bottom: 4px; margin-bottom: 0px; }

.reservation-container { margin-top: 50px; margin-bottom: 50px; padding-bottom: 50px; padding-top: 25px; }
.reservation-container input { margin-top: 5px; height: 25px; width: 100%; background-color: #FFFFFF; color: #999999; /*border: 0 solid #FFF;*/ }
.reservation-container button { background-color: #B11A3B; color: #FFFFFF; border-radius: 0; }
.reservation-container button:hover { color: #FFFFFF; }
.reservation-container input[type=checkbox] { width: 10px; height: auto; }
.reservation-container select { height: 30px; background-color: #FFFFFF; color: #999999; /*border: 0 solid #FFF;*/ }
.reservation-container label { font-weight: normal; }
.reservation-container .icon-btn { cursor: pointer; }
.reservation-container .reservation-box { border: solid 1px #DDDDDD; }
.reservation-container .reservation-box ul { padding: 10px 15px 10px 0; }
.reservation-container .reservation-box li { list-style: none; padding-top: 5px; padding-bottom: 5px; }
.reservation-container .reservation-box .ausrichtung { text-align: center; border-radius: 0; height: 30px; }
.reservation-container .reservation-box .ausrichtung2 { margin-top: 20px; }
.reservation-container .reservation-box .ausrichtung3 { margin-top: 10px; }
.reservation-container .reservation-box button { background-color: #B11A3B; color: #FFFFFF; border-radius: 0; }
.reservation-container .reservation-box button:hover { color: #FFFFFF; }
.reservation-container .btn-res-datepicker { height: 30px; margin-top: 5px; }
.reservation-container .btn-res-datepicker .glyphicon { color: white; }
.reservation-container .res-timepicker tr td { padding: 0px 5px; }
.reservation-container .uib-time .form-control { padding: 0px; margin: 0px; }
.reservation-container .res-timepicker .text-center { padding: 0px; border-radius: 0px !important; }
.reservation-container .remove-time { cursor: pointer; display: inline; }
.reservation-container .uib-timepicker { background: white; }
.reservation-container .uib-time { padding: 0px; margin: 0px; }
.reservation-container .glyphicon { color: #999999; }
.reservation-container .glyphicon:hover { color: #B11A3B; }
.reservation-container .uib-increment .btn-link { padding: 0px; margin: 0px; }
.reservation-container .uib-decrement .btn-link { padding: 0px; margin: 0px; }
.reservation-container .reservationlabel { background: #DDDDDD; width: 100%; padding-left: 10px; padding-top: 4px; padding-bottom: 4px; margin-bottom: 0; font-weight: bold; }
.reservation-container .quadrat1 { width: 20px; height: 20px; background-color: #B11A3B; border: 1px #999999 solid; display: inline-block; }
.reservation-container .quadrat2 { width: 20px; height: 20px; background-color: #EAF0FC; border: 1px #999999 solid; display: inline-block; }
.reservation-container .view table { font-size: 14px; font-weight: bold; background: #eaf0fc; text-align: center; border-radius: 0px; }
.reservation-container .view td { padding: 0; width: 19px; line-height: 30px; }
.reservation-container .view .days td, .reservation-container .view .bookDays td { border: 1px #CCCCCC solid; }
.reservation-container .view .roomnumber { background: #DDDDDD; color: #000000; border: 1px #EEEEEE solid; }
.reservation-container .view .bookDays { background: #eaf0fc; }
.reservation-container .view .days { background: #DDDDDD; color: #000000; }
.reservation-container .view .unavailable { background: #B11A3B; }
.reservation-container .view .bookbutton { padding: 2px; }

.modal-container-reservation button { background-color: #B11A3B; color: #FFFFFF; border-radius: 0; }
.modal-container-reservation button:hover { color: #FFFFFF; }
.modal-container-reservation input { margin-top: 5px; text-align: center; border-radius: 0; }
.modal-container-reservation input[type=checkbox] { margin-top: 10px; }
.modal-container-reservation select { margin-top: 5px; height: 35px; border-radius: 0; }
.modal-container-reservation p { margin-top: 5px; }
.modal-container-reservation label { font-weight: normal; }
.modal-container-reservation .btn-res-datepicker { height: 34px; margin-top: 4px; }
.modal-container-reservation .btn-res-datepicker .glyphicon { color: white; }
.modal-container-reservation .res-timepicker tr td { padding: 0px 5px; }
.modal-container-reservation .uib-time .form-control { padding: 0px; margin: 0px; }
.modal-container-reservation .res-timepicker .text-center { padding: 0px; border-radius: 0px !important; }
.modal-container-reservation .remove-time { cursor: pointer; display: inline; }
.modal-container-reservation .uib-timepicker { background: white; }
.modal-container-reservation .uib-time { padding: 0px; margin: 0px; }
.modal-container-reservation .glyphicon { color: #999999; }
.modal-container-reservation .glyphicon:hover { color: #B11A3B; }
.modal-container-reservation .uib-increment .btn-link { padding: 0px; margin: 0px; }
.modal-container-reservation .uib-decrement .btn-link { padding: 0px; margin: 0px; }
.modal-container-reservation .abstand2 { margin-top: 10px; }

.dashboard-container { margin-top: 50px; margin-bottom: 50px; padding-bottom: 50px; padding-top: 25px; }
.dashboard-container .dashboard-box { border: solid 1px #DDDDDD; }
.dashboard-container .dashboard-box ul { padding-left: 20px; padding-top: 10px; padding-bottom: 10px; padding-right: 20px; }
.dashboard-container .dashboard-box li { list-style: none; padding-top: 5px; padding-bottom: 5px; padding-left: 20px; }
.dashboard-container .dashboard-box li:hover { background-color: #eeeeee; padding-left: 20px; }
.dashboard-container .dashlabel { background: #DDDDDD; width: 100%; padding-left: 10px; padding-top: 4px; padding-bottom: 4px; margin-bottom: 0px; }
.dashboard-container .dashlabel .read { float: right; margin-right: 10px; }
.dashboard-container .dashlabel2 { margin-top: 10px; }
.dashboard-container .notfound li:hover { background-color: #FFFFFF; }
.dashboard-container .notfound button { background-color: #B11A3B; color: #FFFFFF; border-radius: 0; }
.dashboard-container .notfound button:hover { color: #FFFFFF; }

.user-container { margin-top: 50px; margin-bottom: 50px; padding-bottom: 50px; padding-top: 25px; }
.user-container input[type=submit] { height: 40px; width: 100px; border: solid 1px #999999; background-color: #B11A3B; color: #FFFFFF; }
.user-container button { background-color: #B11A3B; color: #FFFFFF; border-radius: 0; }
.user-container button:hover { color: #FFFFFF; }
.user-container .profil { background: #DDDDDD; padding-top: 10px; padding-bottom: 1px; }
.user-container .user-box { border: solid 1px #DDDDDD; }
.user-container .user-box ul { padding-left: 10px; padding-top: 10px; padding-bottom: 20px; padding-right: 10px; }
.user-container .user-box li { list-style: none; padding-top: 5px; padding-bottom: 5px; }
.user-container .user-box input { margin-top: 5px; }
.user-container .userlabel { background: #DDDDDD; width: 100%; padding-left: 10px; padding-top: 4px; padding-bottom: 4px; margin-bottom: 0px; }

.modal-container-user button { background-color: #B11A3B; color: #FFFFFF; border-radius: 0; }
.modal-container-user button:hover { color: #FFFFFF; }
.modal-container-user input { margin-top: 5px; border-radius: 0; }
.modal-container-user p { margin-top: 5px; }

.overview-container { margin-top: 50px; margin-bottom: 50px; padding-bottom: 50px; padding-top: 25px; }
.overview-container button { background-color: #B11A3B; color: #FFFFFF; border-radius: 0; }
.overview-container button:hover { color: #FFFFFF; }
.overview-container .filter-box { border: solid 1px #DDDDDD; }
.overview-container .filter-box ul { padding: 10px 0px; }
.overview-container .filter-box li { list-style: none; padding-top: 5px; padding-bottom: 5px; }
.overview-container .filter-box p { margin-top: 5px; }
.overview-container .filter-box input { margin-top: 5px; border-radius: 0; text-align: center; }
.overview-container .filter-box input[type=checkbox] { margin-top: 7px; }
.overview-container .bookings-box { border: solid 1px #DDDDDD; }
.overview-container .bookings-box ul { padding: 10px 5px; }
.overview-container .bookings-box li { list-style: none; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; }
.overview-container .bookings-box li:hover { background-color: #eeeeee; padding-left: 5px; }
.overview-container .bookings-box .hover li:hover { background-color: #FFFFFF; }
.overview-container .bookings-box .header { font-weight: bold; }
.overview-container .bookinglabel { background: #DDDDDD; width: 100%; padding-left: 10px; padding-top: 4px; padding-bottom: 4px; margin-bottom: 0px; }
.overview-container .free { margin-top: 10px; }

.modal-container-overview button { background-color: #B11A3B; color: #FFFFFF; border-radius: 0; }
.modal-container-overview button:hover { color: #FFFFFF; }
.modal-container-overview p { margin-top: 5px; }

.admin-container { margin-top: 50px; margin-bottom: 50px; padding-bottom: 50px; padding-top: 25px; }
.admin-container .nav-pills > .active > a, .admin-container .nav-pills > .active > a:hover, .admin-container .nav-pills > .active > a:focus { background-color: #B11A3B; border-radius: 0; }
.admin-container .nav-pills li { margin-left: 0; }
.admin-container .col-md-12 { padding-right: 0; }
.admin-container .nav-pills > li > a:hover { background-color: #BBBBBB; color: #FFFFFF; border-radius: 0; }
@media (max-width: 768px) { .admin-container .nav { margin-right: 0 !important; }
  .admin-container .nav, .admin-container .nav-pills li { width: 100%; } }
.admin-container button { background-color: #B11A3B; color: #FFFFFF; border-radius: 0; }
.admin-container button:hover { color: #FFFFFF; }
.admin-container .admin-box { border: solid 1px #DDDDDD; }
.admin-container .admin-box ul { padding: 10px 5px; }
.admin-container .admin-box li { list-style: none; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; }
.admin-container .admin-box li:hover { background-color: #eeeeee; padding-left: 5px; }
.admin-container .admin-box .hover li:hover { background-color: #FFFFFF; padding-left: 5px; }
.admin-container .admin-box .header { font-weight: bold; }
.admin-container .admin-box .glyphicon-plus-sign, .admin-container .admin-box .glyphicon-edit, .admin-container .admin-box .glyphicon-remove-sign { color: #B11A3B; }
.admin-container .admin-box select { border-radius: 0; }
.admin-container .admin-booking-box1 { border: solid 1px #DDDDDD; }
.admin-container .admin-booking-box1 ul { padding: 10px; }
.admin-container .admin-booking-box1 li { list-style: none; }
.admin-container .admin-booking-box1 select { border-radius: 0; }
.admin-container .admin-booking-box1 input { border-radius: 0; text-align: center; }
.admin-container .admin-booking-box1 .abstand { margin-top: 5px; }
.admin-container .admin-booking-box2 { border: solid 1px #DDDDDD; }
.admin-container .admin-booking-box2 ul { padding: 10px 5px; }
.admin-container .admin-booking-box2 li { list-style: none; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; }
.admin-container .admin-booking-box2 li:hover { background-color: #eeeeee; padding-left: 5px; }
.admin-container .admin-booking-box2 .hover li:hover { background-color: #FFFFFF; padding-left: 5px; }
.admin-container .admin-booking-box2 .header { font-weight: bold; }
.admin-container .adminlabel { background: #DDDDDD; width: 100%; padding-left: 10px; padding-top: 4px; padding-bottom: 4px; margin-bottom: 0px; }

.modal-container-room button, .modal-container-bookings button { background-color: #B11A3B; color: #FFFFFF; border-radius: 0; }
.modal-container-room button:hover, .modal-container-bookings button:hover { color: #FFFFFF; }
.modal-container-room input, .modal-container-bookings input { margin-top: 5px; border-radius: 0; }
.modal-container-room p, .modal-container-bookings p { margin-top: 5px; }
.modal-container-room select, .modal-container-bookings select { border-radius: 0; }
.modal-container-room li, .modal-container-bookings li { list-style: none; }

.nav { margin-right: -15px; background-color: #DDDDDD; }
.nav .icon-bar { background-color: #B11A3B; }

.equi-box { border: solid 1px #DDDDDD; }
.equi-box ul { padding: 10px; }
.equi-box li { list-style: none; padding: 5px 10px 5px 5px; }
.equi-box select { border-radius: 0; }
.equi-box input { border-radius: 0; }

.equilabel { background: #DDDDDD; width: 100%; padding-left: 10px; padding-top: 4px; padding-bottom: 4px; margin-bottom: 0px; }

.hover li:hover { background-color: #EEEEEE; padding: 5px 10px 5px 5px; }

/*# sourceMappingURL=style.css.map */
