.dashboard-container {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  padding-top: 25px;

  .dashboard-box {
    border: solid 1px $third-color;

    ul {
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 20px;
    }

    li {
      list-style: none;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 20px;
    }

    li:hover {
      background-color: #eeeeee;
      padding-left: 20px;
    }

  }

  .dashlabel {
    background: $third-color;
    width: 100%;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0px;

    .read {
      float: right;
      margin-right: 10px;
    }
  }

  .dashlabel2 {
    margin-top: 10px;
  }

  .notfound{

    li:hover{
      background-color: #FFFFFF;
    }

    button {
      background-color: $primary-color;
      color: #FFFFFF;
      border-radius: 0;
    }

    button:hover {
      color: #FFFFFF;
    }

  }
}

.user-container {

  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  padding-top: 25px;

  input[type=submit] {
    height: 40px;
    width: 100px;
    border: solid 1px $fourth-color;
    background-color: $primary-color;
    color: $secondary-color;
  }

  button {
    background-color: $primary-color;
    color: #FFFFFF;
    border-radius: 0;
  }

  button:hover {
    color: #FFFFFF;
  }

  .profil {
    background: $third-color;
    padding-top: 10px;
    padding-bottom: 1px;
  }

  .user-box {
    border: solid 1px $third-color;

    ul {
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 20px;
      padding-right: 10px;
    }

    li {
      list-style: none;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    input {
      margin-top: 5px;
    }

  }

  .userlabel {
    background: $third-color;
    width: 100%;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0px;

  }

}

.modal-container-user {

  button{
    background-color: $primary-color;
    color: #FFFFFF;
    border-radius: 0;
  }

  button:hover {
    color: #FFFFFF;
  }

  input{
    margin-top: 5px;
    border-radius: 0;
  }

  p{
    margin-top: 5px;
  }
}




