<div class="row" ng-controller="DashboardController">
    <div class="col-xs-12 dashboard-container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <label for="newsbox" class="dashlabel">Neuigkeiten <span class="badge" ng-bind="news.length"></span>

                    <div ng-hide="!news.length" class="read"><span
                            class="glyphicon glyphicon-eye-open"></span><a ng-click="markNewsAsRead()" href=""> Gelesen</a>
                    </div>
                </label>

                <div id="newsbox" class="dashboard-box">
                    <ul>
                        <li ng-repeat="newsitem in news" class="repeat-item">
                            Ihre Anfrage <strong>{{::newsitem.booking.description}}</strong> vom <strong>{{::newsitem.booking.createdAt
                            | date : 'dd.MM.yyyy' : '+0100'}}</strong>,
                            {{::newsitem.requesttime}} wurde
                            <strong>{{newsitem.status_new.id | bookingStatus | lowercase}}</strong>.
                        </li>
                        <li ng-hide="news.length" class="repeat-item">Es sind keine Neuigkeiten vorhanden.</li>
                    </ul>

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-10 col-md-offset-1">
                <label for="pendingRequests" class="dashlabel dashlabel2">Ausstehende Anfragen
                    <span class="badge" ng-bind="pendingRequests.length"></span>
                </label>
                <div id="pendingRequests" class="dashboard-box">
                    <ul>
                        <li ng-repeat="pendingrequest in pendingRequests">
                            {{::pendingrequest.date.begin | date: 'dd.MM.yyyy' : '+0100'}}<span
                                style="width: 15px;">,</span>
                            {{::pendingrequest.date.begin | date : 'HH:mm' : '+0100'}} Uhr<span
                                style="width: 15px;">, Raum "</span>{{ ::pendingrequest.room.name }}<span
                                style="width: 15px;">"</span>
                        </li>
                        <li ng-hide="pendingRequests.length" class="repeat-item">Es sind keine ausstehende Anfragen
                            vorhanden.
                        </li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-10 col-md-offset-1">
                <div class="dashlabel">
                    <h4>Herzlich Willkommen bei Alphabooking!</h4>

                    <p>Für Fragen zur Bedienung benutzen Sie bitte das <a href="/public/images/benutzerhandbuch.pdf" download target="_blank">Handbuch</a> oder kontaktieren Sie
                        einen Administrator.</p>
                </div>
            </div>
        </div>
    </div>
</div>