<div class="row" ng-controller="UserController" xmlns="http://www.w3.org/1999/html">
    <div class="col-xs-12 user-container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <label for="userview" class="userlabel">Benutzerprofil</label>

                <div id="userview" class="user-box">
                    <ul>
                        <li>
                            <div class="col-xs-4 col-md-1">
                                <p>Name:</p>
                            </div>
                            <div class="col-xs-8 col-md-5">
                                {{user.surname}}
                            </div>
                            <div class="col-md-1 hidden-xs">
                                <p>Abteilung:</p>
                            </div>
                            <div class="col-md-5 hidden-xs">
                                {{user.department.departmentName}}
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-4 col-md-1">
                                <p>Vorname:</p>
                            </div>
                            <div class="col-xs-8 col-md-5">
                                {{user.firstname}}
                            </div>
                            <div class="col-md-1 hidden-xs">
                                <p>Rollen:</p>
                            </div>
                            <div class="col-md-5 hidden-xs">
                                <span ng-repeat="role in user.roles">
                                        {{role}}<span ng-hide="$last">,</span>
                                </span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-4 col-md-1">
                                <p>E-Mail:</p>
                            </div>
                            <div class="col-xs-8 col-md-7">
                                {{user.email}}
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-4 col-md-1">
                                <p>Telefon:</p>
                            </div>
                            <div class="col-xs-8 col-md-7">
                                {{user.phone}}
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-4 visible-xs">
                                <p>Abteilung:</p>
                            </div>
                            <div class="col-xs-8 visible-xs">
                                {{user.department.departmentName}}
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-4 visible-xs">
                                <p>Rollen:</p>
                            </div>
                            <div class="col-xs-8 visible-xs">
                                <span ng-repeat="role in user.roles">
                                        {{role}}<span ng-hide="$last">,</span>
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>

            </div>
            <br>
        </div>
        <div class="clearfix"></div>
        <br>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <button type="submit" class="btn btn-sm" ng-click="openEditModal()">Passwort ändern</button>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="userEdit.html">
    <div class="modal-header">
        <h4 class="modal-title" style="display: inline">Passwort ändern</h4>
            <span class="close glyphicon glyphicon-remove" style="float: right; cursor: pointer"
                  ng-click="cancel()"></span>
    </div>
    <div class="modal-body modal-container-user">
        <div class="col-xs-4 col-md-4">
            <p>Name:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <p>{{user.firstname}} {{user.surname}}</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>E-Mail:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <p>{{user.email}}</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Altes Passwort:</p>
        </div>
        <form name="userFormular">
            <div class="col-xs-8 col-md-8">
                <input type="password" name="password_old" ng-model="user.password_old" class="form-control" required
                       ng-minlength="6"/>
                <div ng-messages="userFormular.password_old.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Bitte geben Sie Ihr aktuelles Passwort an.</div>
                    <div ng-message="minlength">Das Passwort ist zu kurz.</div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-4 col-md-4">
                <p>Neues Passwort:</p>
            </div>
            <div class="col-xs-8 col-md-8">
                <input type="password" name="password_new" ng-model="user.password_new" class="form-control" required
                       ng-minlength="6"/>
                <div ng-messages="userFormular.password_new.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Bitte geben Sie Ihr neues Passwort an.</div>
                    <div ng-message="minlength">Das Passwort muss mindestens 6 Zeichen lang sein.</div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-4 col-md-4">
                <p>Passwort wiederholen:</p>
            </div>
            <div class="col-xs-8 col-md-8">
                <input type="password" name="password_new2" ng-model="user.password_new2" class="form-control" required
                       ng-minlength="6"/>
                <div ng-messages="userFormular.password_new2.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Bitte geben Sie Ihr neues Passwort erneut an.</div>
                    <div ng-message="minlength">Das Passwort muss mindestens 6 Zeichen lang sein.</div>
                </div>
                <div ng-show="!newPasswordsMatch() && userFormular.password_new2.$dirty" style="color:maroon"
                     role="alert">
                    <div>Die Passwörter stimmen nicht überein.</div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="modal-footer modal-container-user">
        <button class="btn btn-sm" type="button" ng-click="submit()">Ändern</button>
        <button class="btn btn-sm" type="button" ng-click="cancel()">Abbrechen</button>
    </div>
</script>