<!DOCTYPE html>
<html lang="de" ng-app="app" ng-strict-di>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title ng-controller="TitleController" ng-bind="title"></title>


    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">

    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <link href="/public/css/angular-chart.min.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">


</head>
<body ng-controller="AppController">

<div class="container-fluid nav navbar-fixed-top">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="navbar-header">
                <img class="navbar-brand" ng-src="public/images/Logo_alpha_booking.png">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" ng-cloak ng-controller="MenuController">
                <ul class="nav navbar-nav">
                    <li ng-repeat="tab in tabs" ng-class="checkActive(tab.url)" class="hidden-xs">
                        <a ui-sref="{{tab.url}}" ng-bind="tab.title"></a>
                    </li>
                    <li ng-click="logout()" ng-show="isLoggedIn()" class="hidden-xs">
                        <a href="#">Logout</a>
                    </li>
                    <li ng-repeat="tab in tabs" ng-class="checkActive(tab.url)" class="visible-xs">
                        <a ui-sref="{{tab.url}}" ng-bind="tab.title" data-toggle="collapse"
                           data-target=".navbar-collapse"></a>
                    </li>
                    <li ng-click="logout()" ng-show="isLoggedIn()" class="visible-xs">
                        <a href="#" data-toggle="collapse" data-target=".navbar-collapse">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Here comes the Content! -->
<div class="container" ng-controller="MainController">

    <div ui-view="main"></div>

    <footer class="footer col-md-10 col-md-offset-1">
            &copy; 2016 | Alle Rechte vorbehalten
    </footer>
</div>
<div class="alertposition">
    <uib-alert class="repeat-item" ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()"
               ng-bind="alert.msg">
    </uib-alert>
</div>

<script type="text/ng-template" id="alert.html">
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
        <div ng-transclude></div>
    </div>
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/public/libs/bootstrap.min.js"></script>
<script src="/public/libs/Chart.min.js"></script>

<script type="application/javascript" src="/public/libs/angular.js"></script>
<script type="application/javascript" src="/public/libs/angular-resource.js"></script>
<script type="application/javascript" src="/public/libs/angular-animate.js"></script>
<script type="application/javascript" src="/public/libs/angular-aria.js"></script>
<script type="application/javascript" src="/public/libs/angular-messages.js"></script>
<script type="application/javascript" src="/public/libs/angular-ui-router.js"></script>
<script type="application/javascript" src="/public/libs/ui-bootstrap-tpls-1.0.3.js"></script>
<script type="application/javascript" src="/public/libs/angular-material.min.js"></script>

<script type="application/javascript" src="/public/scripts/app.js"></script>
<script type="application/javascript" src="/public/scripts/app-services.js"></script>
<script type="application/javascript" src="/public/scripts/app-filters.js"></script>

<script type="application/javascript" src="/public/scripts/menu/menu-module.js"></script>
<script type="application/javascript" src="/public/scripts/notfound/notfound-controller.js"></script>

<script type="application/javascript" src="/public/scripts/auth/authentication-module.js"></script>
<script type="application/javascript" src="/public/scripts/auth/authentication-controller.js"></script>
<script type="application/javascript" src="/public/scripts/auth/authentication-services.js"></script>

<script type="application/javascript" src="/public/scripts/user/user-module.js"></script>
<script type="application/javascript" src="/public/scripts/user/user-controller.js"></script>
<script type="application/javascript" src="/public/scripts/user/user-services.js"></script>

<script type="application/javascript" src="/public/scripts/reservation/reservation-module.js"></script>
<script type="application/javascript" src="/public/scripts/reservation/reservation-controller.js"></script>
<script type="application/javascript" src="/public/scripts/reservation/reservation-services.js"></script>

<script type="application/javascript" src="/public/scripts/overview/overview-module.js"></script>
<script type="application/javascript" src="/public/scripts/overview/overview-controller.js"></script>

<script type="application/javascript" src="/public/scripts/admin/admin-module.js"></script>
<script type="application/javascript" src="/public/scripts/admin/admin-controller.js"></script>
<script type="application/javascript" src="/public/scripts/admin/admin-services.js"></script>

<script type="application/javascript" src="/public/scripts/reports/reports-module.js"></script>
<script type="application/javascript" src="/public/scripts/reports/reports-controller.js"></script>
<script type="application/javascript" src="/public/scripts/reports/reports-services.js"></script>

<script type="application/javascript" src="/public/scripts/equipmentmanager/equipment-module.js"></script>
<script type="application/javascript" src="/public/scripts/equipmentmanager/equipment-controller.js"></script>
<script type="application/javascript" src="/public/scripts/equipmentmanager/equipment-services.js"></script>

<script type="application/javascript" src='/public/scripts/Routes.js'></script>
<script type="application/javascript" src="/public/libs/sha256.js"></script>
<script type="application/javascript" src="/public/libs/angular-chart.js"></script>

<script type="application/javascript" src="/public/libs/date.js"></script>

</body>
</html>
