.reservation-container {

  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  padding-top: 25px;

  input {
    margin-top: 5px;
    height: 25px;
    width: 100%;
    background-color: $secondary-color;
    color: $fourth-color;
    /*border: 0 solid #FFF;*/
  }

  button {
    background-color: $primary-color;
    color: #FFFFFF;
    border-radius: 0;
  }

  button:hover {
    color: #FFFFFF;
  }

  input[type=checkbox] {
    width: 10px;
    height: auto;
  }

  select {
    height: 30px;
    background-color: $secondary-color;
    color: $fourth-color;
    /*border: 0 solid #FFF;*/
  }

  label {
    font-weight: normal;
  }

  .icon-btn {
    cursor: pointer;
  }

  .reservation-box {
    border: solid 1px $third-color;

    ul {
      padding: 10px 15px 10px 0;
    }

    li {
      list-style: none;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .ausrichtung {
      text-align: center;
      border-radius: 0;
      height: 30px;
    }

    .ausrichtung2 {
      margin-top: 20px;
    }
    .ausrichtung3 {
      margin-top: 10px;
    }

    button {
      background-color: $primary-color;
      color: #FFFFFF;
      border-radius: 0;
    }

    button:hover {
      color: #FFFFFF;
    }

  }

  .btn-res-datepicker {
    height: 30px;
    margin-top: 5px;
  }

  .btn-res-datepicker .glyphicon {
    color: white;
  }

  .res-timepicker tr td {
    padding: 0px 5px;
  }

  .uib-time .form-control {
    padding: 0px;
    margin: 0px;
  }

  .res-timepicker .text-center {
    padding: 0px;
    border-radius: 0px !important;
  }

  .remove-time {
    cursor: pointer;
    display: inline;
  }

  .uib-timepicker {
    background: white;
  }

  .uib-time {
    padding: 0px;
    margin: 0px;
  }

  .glyphicon {
    color: $fourth-color;
  }

  .glyphicon:hover {
    color: $primary-color;
  }

  .uib-increment .btn-link {
    padding: 0px;
    margin: 0px;
  }

  .uib-decrement .btn-link {
    padding: 0px;
    margin: 0px;
  }

  .reservationlabel {
    background: $third-color;
    width: 100%;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0;
    font-weight: bold;
  }

  .quadrat1{
    width: 20px;
    height: 20px;
    background-color: $primary-color;
    border: 1px $fourth-color solid;
    display:inline-block;
  }

  .quadrat2{
    width: 20px;
    height: 20px;
    background-color: #EAF0FC;
    border: 1px $fourth-color solid;
    display:inline-block;
  }

  .view {

    table {
      font-size: 14px;
      font-weight: bold;
      background: #eaf0fc;
      text-align: center;
      border-radius: 0px;
    }

    td {
      padding: 0;
      width: 19px;
      line-height: 30px;
    }

    .days td, .bookDays td {
      border: 1px #CCCCCC solid;
    }

    .roomnumber {
      background: $third-color;
      color: #000000;
      border: 1px #EEEEEE solid;
    }

    .bookDays {
      background: #eaf0fc;
    }

    .days {
      background: $third-color;
      color: #000000;
    }

    .unavailable {
      background: $primary-color;
    }

    .bookbutton {
      padding: 2px;
    }
  }
}

.modal-container-reservation {

  button {
    background-color: $primary-color;
    color: #FFFFFF;
    border-radius: 0;
  }

  button:hover {
    color: #FFFFFF;
  }

  input {
    margin-top: 5px;
    text-align: center;
    border-radius: 0;
  }

  input[type=checkbox] {
    margin-top: 10px;
  }

  select {
    margin-top: 5px;
    height: 35px;
    border-radius: 0;
  }

  p {
    margin-top: 5px;
  }

  label {
    font-weight: normal;
  }

  .btn-res-datepicker {
    height: 34px;
    margin-top: 4px;
  }

  .btn-res-datepicker .glyphicon {
    color: white;
  }

  .res-timepicker tr td {
    padding: 0px 5px;
  }

  .uib-time .form-control {
    padding: 0px;
    margin: 0px;
  }

  .res-timepicker .text-center {
    padding: 0px;
    border-radius: 0px !important;
  }

  .remove-time {
    cursor: pointer;
    display: inline;
  }

  .uib-timepicker {
    background: white;
  }

  .uib-time {
    padding: 0px;
    margin: 0px;
  }

  .glyphicon {
    color: $fourth-color;
  }

  .glyphicon:hover {
    color: $primary-color;
  }

  .uib-increment .btn-link {
    padding: 0px;
    margin: 0px;
  }

  .uib-decrement .btn-link {
    padding: 0px;
    margin: 0px;
  }

  .abstand2{
    margin-top: 10px;
  }

}

