<div class="row">
    <div class="col-xs-12 reservation-container" ng-controller="RoomFilterController">
        <div class="row">
            <form>
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <label for="reservation" class="reservationlabel">Suche verfügbare Räume</label>

                    <div id="reservation" class="reservation-box">
                        <ul>
                            <li>
                                <div class="col-xs-12 col-md-1 ausrichtung2">
                                    <p>Zeitraum</p>
                                </div>
                                <div class="col-xs-12 col-md-1 ausrichtung2">
                                    <p>von:</p>
                                </div>
                                <div class="col-xs-12 col-md-2" style="padding-right:0px;">
                                    <p class="input-group" style="margin-top:15px;">
                                        <input type="text" class="form-control ausrichtung"
                                               uib-datepicker-popup="{{::format}}"
                                               ng-model="selectedFilter.beginDate" is-open="openedDatePickerBeginTime"
                                               min-date="minDate"
                                               datepicker-options="dpOptions" show-button-bar="{{::buttonBar}}"
                                               date-disabled="disabled(date, mode)" show-weeks="false"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-res-datepicker"
                                                    ng-click="openDatePickerBeginTime()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    <uib-timepicker class="res-timepicker" ng-model="selectedFilter.beginTime"
                                                    hour-step="hstep" minute-step="mstep" show-meridian="false">
                                    </uib-timepicker>
                                </div>
                                <div class="col-xs-12 col-md-2 ausrichtung2 hidden-xs">
                                    <p>Bestuhlung:</p>
                                </div>
                                <div class="col-xs-12 col-md-4 ausrichtung2 hidden-xs">
                                    <select ng-options="seating as seating.name for seating in possibleSeatings track by seating.id"
                                            class="form-control ausrichtung" ng-model="selectedFilter.seating">
                                        <option value="">- Select -</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-xs-12 col-md-1 col-md-offset-1 ausrichtung2">
                                    <p>bis:</p>
                                </div>
                                <div class="col-xs-12 col-md-2" style="padding-right:0px;">
                                    <p class="input-group" style="margin-top:15px;">
                                        <input type="text" class="form-control ausrichtung date"
                                               uib-datepicker-popup="{{::format}}"
                                               ng-model="selectedFilter.endDate" is-open="openedDatePickerEndTime"
                                               min-date="minDate"
                                               datepicker-options="dpOptions" show-button-bar="{{::buttonBar}}"
                                               date-disabled="disabled(date, mode)" show-weeks="false"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-res-datepicker"
                                                    ng-click="openDatePickerEndTime()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    <uib-timepicker class="res-timepicker" style="" ng-model="selectedFilter.endTime"
                                                    hour-step="hstep" minute-step="mstep" show-meridian="false">
                                    </uib-timepicker>
                                </div>
                                <div class="col-xs-12 col-md-2 ausrichtung2 visible-xs">
                                    <p>Bestuhlung:</p>
                                </div>
                                <div class="col-xs-12 col-md-4 ausrichtung2 visible-xs">
                                    <select ng-options="seating as seating.name for seating in possibleSeatings track by seating.id"
                                            class="form-control ausrichtung" ng-model="selectedFilter.seating">
                                        <option value="">- Select -</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-2 ausrichtung2">
                                    <p>Ausstattung:</p>
                                </div>
                                <div class="col-xs-12 col-md-4 ausrichtung2">
                                    <div ng-repeat="fixedEqu in fixedEquipment">
                                        <label for="fixedEqu{{fixedEqu.id}}">
                                            <input ng-model="fixedEqu.selected" type="checkbox"
                                                   id="fixedEqu{{fixedEqu.id}}"
                                                   name="fixedEqu{{fixedEqu.id}}"> {{fixedEqu.id | fixedEquipment}}
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-xs-12 col-md-2 ausrichtung3">
                                    <p>Personen:</p>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <input type="number" name="personen1" ng-model="selectedFilter.memberCount"
                                           class="form-control ausrichtung">
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-2">
                            <br>
                            <button type="submit"
                                    ng-click="getAvailableRooms()"
                                    class="btn btn-sm">
                                <span ng-show="searchLoading"
                                      class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>&nbsp;Suchen
                            </button>
                        </div>
                    </div>
                    <ul class="pagination" ng-show="pagination.activated">
                        <li ng-class="getPaginationClass($index)" ng-repeat="page in pagination.pages">
                            <a ng-click="selectDatePage($index)" href="#">{{page | date: "dd.MM.yyyy"}}</a>
                        </li>
                    </ul>
                </div>
            </form>

            <div class="col-xs-12 col-md-10 col-md-offset-1 view">
                <br>
                <article>
                    <table class="table">
                        <tr class="days">
                            <td style="padding-left:5px; padding-right:5px;">{{currentDateInTable}}</td>
                            <td colspan="4" class="hidden-xs">7</td>
                            <td colspan="4" class="hidden-xs">8</td>
                            <td colspan="4" class="hidden-xs">9</td>
                            <td colspan="4" class="hidden-xs">10</td>
                            <td colspan="4" class="hidden-xs">11</td>
                            <td colspan="4" class="hidden-xs">12</td>
                            <td colspan="4" class="hidden-xs">13</td>
                            <td colspan="4" class="hidden-xs">14</td>
                            <td colspan="4" class="hidden-xs">15</td>
                            <td colspan="4" class="hidden-xs">16</td>
                            <td colspan="4" class="hidden-xs">17</td>
                            <td colspan="4" class="hidden-xs">18</td>
                            <td colspan="4" class="hidden-xs">19</td>
                            <td></td>
                        </tr>
                        <tr class="bookDays" ng-repeat="room in availableRooms">
                            <td class="roomnumber">{{room.cla_name}}</td>
                            <td ng-repeat="time in selectableTimes" id="{{time}}-{{room.cla_roomId}}"
                                ng-class="room.timetable[time]" class="hidden-xs"></td>
                            <td class="bookbutton">
                                <button type="submit" class="btn btn-sm" ng-click="openBookingModal($index)">Zur
                                    Reservierung
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="54" ng-show="noResultsFound">Keine freien Räume mit den gewählten Kriterien
                                gefunden.
                            </td>
                        </tr>
                    </table>
                </article>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-10 col-md-offset-1 hidden-xs">
                <div class="col-md-3">
                    <div class="quadrat1"></div>
                    <span> = belegter Raum</span>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-3">
                    <div class="quadrat2"></div>
                    <span> = freier Raum</span>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div>
    <script type="text/ng-template" id="bookReservation.html">
        <div class="modal-header">
            <h4 class="modal-title" style="display: inline">Reservierung für Raum <strong>{{selectedBookingData.room.cla_name}}</strong>
                durchführen</h4>
                <span class="close glyphicon glyphicon-remove" style="float: right; cursor: pointer"
                      ng-click="cancel()"></span>
        </div>

        <div class="modal-body modal-container-reservation">
            <div class="col-xs-12 col-md-3">
                <p>Bestellerdetails:</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-md-12" style="margin-bottom: 10px">
                <span class="label label-default">{{currentUserInformation.cla_surname}}, {{currentUserInformation.cla_firstname}}</span>
                <span class="label label-default">{{currentUserInformation.cla_mail}}</span>
                <span class="label label-default">Tel.: {{currentUserInformation.cla_phone}}</span>
                <span class="label label-default">Abt.: {{currentUserInformation.cla_department.cla_name}}</span>
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-12 col-md-4">
                <p>Betreff:</p>
            </div>
            <div class="col-xs-12 col-md-8">
                <input type="text" class="form-control" ng-model="selectedBookingData.description">
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-md-4 abstand2">
                <p>Beginn:</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <input type="date" style="margin-top:22px;" class="form-control" name="date_begin" maxlength="10"
                       ng-model="selectedBookingData.beginDate" readonly="true" disabled>
            </div>
            <div class="col-xs-12 col-md-4">
                <uib-timepicker class="res-timepicker" style="" ng-model="selectedBookingData.beginTime"
                                hour-step="hstep" minute-step="mstep" show-meridian="false">
                </uib-timepicker>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-md-4 abstand2">
                <p>Ende:</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <p class="input-group" style="margin-top:17px;">
                    <input type="text" class="form-control ausrichtung date"
                           uib-datepicker-popup="{{::format}}"
                           ng-model="selectedBookingData.endDate" is-open="openedDatePickerEndTime" min-date="minDate"
                           datepicker-options="dpOptions" show-button-bar="{{::buttonBar}}"
                           date-disabled="disabled(date, mode)" show-weeks="false"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-res-datepicker"
                                                    ng-click="openDatePickerEndTime()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <uib-timepicker class="res-timepicker" style="" ng-model="selectedBookingData.endTime" hour-step="hstep"
                                minute-step="mstep" show-meridian="false">
                </uib-timepicker>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-md-4">
                <p>Personen:</p>
            </div>
            <div class="col-xs-6 col-md-5">
                <input type="number" name="personen1" ng-model="selectedBookingData.memberCount"
                       class="form-control">
            </div>
            <div class="col-xs-6 col-md-3">
                <p style="margin-top: 10px">(max. {{selectedBookingData.room.cla_capacity}})</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-md-4">
                <p>Bestuhlung:</p>
            </div>
            <div class="col-xs-12 col-md-8">
                <select ng-options="seating as (seating | seating) for seating in possibleSeatingsForRoom track by seating"
                        class="form-control ausrichtung" ng-model="selectedBookingData.seating">
                    <option value="">- Select -</option>
                </select>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-md-4">
                <p>Ausstattung:</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <div ng-repeat="addEqu in additionalEquipment">
                    <label for="addEqu{{addEqu.id}}">
                        <input type="checkbox" id="addEqu{{addEqu.id}}" ng-model="addEqu.selected"
                               name="addEqu{{addEqu.id}}"> {{addEqu.id | additionalEquipment}}
                    </label>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-md-4">
                <p>Ext. Teilnehmer:</p>
            </div>
            <div class="col-xs-12 col-md-8">
                <input type="checkbox" id="extern_2" ng-model="selectedBookingData.extern">
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-md-8 col-md-offset-4" id="extern3_2" ng-show="selectedBookingData.extern">

                <table style="width:100%">
                    <tr>
                        <td><span class="glyphicon glyphicon-plus icon-btn" ng-click="addExternalMail()">&nbsp;</span>
                        </td>
                        <td><input ng-model="currentExternalMail" ng-enter="addExternalMail()" type="text"
                                   class="form-control" placeholder="Bitte Mailadressen angeben..."></td>
                    </tr>
                </table>
                <div style="background:#eee; margin-top:10px; padding:5px;">
                    <div ng-repeat="mail in selectedBookingData.externalEmails">
                        <span class="glyphicon glyphicon-remove icon-btn" ng-click="removeExternalMail(mail)"></span>&nbsp;{{mail}}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-8 col-md-offset-4" id="extern2_2" ng-show="selectedBookingData.extern">
                <label for="food2">
                    <input type="checkbox" id="food2" ng-model="selectedBookingData.serviceSelected"
                           ng-disabled="threeDaysLeft">
                    Bewirtung
                </label>
                <span style="color:#999;">(nur drei Tage im voraus möglich)</span>

                <div ng-show="selectedBookingData.serviceSelected">
                    <ul style="list-style: none">
                        <li ng-repeat="service in selectableServices">
                            <input ng-model="service.selected" type="checkbox" id="service{{service.id}}"> {{service.id
                            | serviceType}}
                        </li>
                    </ul>
                    <input type="text" class="form-control" placeholder="Kostenstelle"
                           ng-model="selectedBookingData.costcenter">
                    <input type="text" class="form-control" placeholder="Kommentar"
                           ng-model="selectedBookingData.comment">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="modal-footer modal-container-reservation">
            <button class="btn btn-sm" type="button" ng-click="ok()">
                <span ng-show="reservationLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>&nbsp;Reservierung
                abschließen
            </button>
            <button class="btn btn-sm hidden-xs" type="button" ng-click="cancel()">Reservierung abbrechen</button>
        </div>
    </script>
</div>




