  .reports-box {
    border: solid 1px $third-color;

    ul {
      padding: 10px;
    }

    li {
      list-style: none;
    }

    select{
      border-radius: 0;
    }

    input{
      border-radius: 0;
    }
  }

  .reportslabel {
    background: $third-color;
    width: 100%;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0px;
  }
