<div class="col-md-10 col-md-offset-1" ng-controller="ReportsController">
    <div>
        <div id="reportsbox" class="reports-box">
            <ul>
                <li>
                    <div>
                        <label for="reports" class="reportslabel">Allgemein</label>
                    </div>
                    <div class="clearfix"></div>
                    <div id="reports" class="reports-box">
                        <ul>
                            <li>
                                <div class="col-xs-12 col-md-3">
                                    <form>
                                        <label ng-repeat="artSelector in selectors.art">
                                            <input type="radio" ng-model="activeSelectors.art" ng-value="artSelector"
                                                   ng-change="changed()">
                                            {{artSelector.text}}
                                        </label>
                                    </form>
                                </div>
                                <div class="col-xs-12 visible-xs">
                                    <div id="rooms" ng-hide="activeSelectors.art.id==1">
                                        <select class="form-control" ng-model="activeSelectors.room"
                                                ng-options="room.name for room in selectors.rooms | orderBy: 'name' track by room.roomID">
                                        </select>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div id="criteriaauswahl">
                                        <b>Auswertung auswählen</b>
                                        <select class="form-control" ng-model="activeSelectors.criteria"
                                                ng-options="criteria.text disable when isCriteriaDisabled(criteria) for criteria in selectors.criteria | orderBy: 'id' track by criteria.id"
                                                ng-change="selectedRoomChanged()">
                                        </select>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <b>Intern / Extern</b> </br>
                                    <select class="form-control" ng-model="activeSelectors.extern"
                                            ng-options="extern.text for extern in selectors.extern | orderBy: 'id' track by extern.id">
                                    </select>
                                    <br>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-3 hidden-xs">
                                    <div id="rooms" ng-hide="activeSelectors.art.id==1">
                                        <br>
                                        <select class="form-control" ng-model="activeSelectors.room"
                                                ng-options="room.name for room in selectors.rooms | orderBy: 'name' track by room.roomID">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <b>Status der Buchungen</b> </br>
                                    <select class="form-control" ng-model="activeSelectors.status"
                                            ng-options="status.description for status in selectors.status | orderBy: 'id' track by status.id">
                                    </select>
                                    <br>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <b>Diagrammtyp</b> </br>
                                    <select class="form-control" ng-model="activeSelectors.type"
                                            ng-options="diagram.text for diagram in selectors.types | orderBy: 'id' track by diagram.id">
                                    </select>
                                </div>
                                <div class="clearfix"></div>

                            </li>
                        </ul>
                    </div>
                    <br>

                    <div>
                        <label for="reports2" class="reportslabel">Zeitraum</label>
                    </div>
                    <div class="clearfix"></div>
                    <div id="reports2" class="reports-box">
                        <ul>
                            <li>
                                <div class="col-md-3">
                                    <b>Auswahl</b><br>
                                    <select name="zeitraum" id="zeitraum" class="form-control"
                                            ng-model="activeSelectors.period"
                                            ng-options="period.text for period in selectors.periods | orderBy: 'id' track by period.id">
                                    </select>
                                    <br>
                                </div>
                                <div class="col-md-4">
                                    <div id="variableAuswahl">
                                        <div ng-hide="isUserDefined()">
                                            <b>Jahr:</b>
                                            <select name="year" class="form-control"
                                                    ng-model="activeSelectors.periodSubSelection.year"
                                                    ng-options="year.value for year in selectors.years | orderBy: 'id' track by year.id">
                                            </select>
                                        </div>
                                        <div ng-show="isQuartal()">
                                            <b>Quartal:</b>
                                            <select name="quartal" id="quartal"
                                                    class="form-control"
                                                    ng-model="activeSelectors.periodSubSelection.quartal"
                                                    ng-options="quartal.text for quartal in selectors.quartals | orderBy: 'id' track by quartal.id">
                                            </select>
                                        </div>

                                        <p class="input-group" style="margin-top:17px;" ng-show="isUserDefined()">
                                            <input type="text" class="form-control ausrichtung date"
                                                   uib-datepicker-popup="{{::format}}"
                                                   ng-model="activeSelectors.periodSubSelection.beginDate"
                                                   is-open="openedDatePickerBeginTime" min-date="minDate"
                                                   datepicker-options="dpOptions" show-button-bar="false"
                                                   date-disabled="disabled(date, mode)" show-weeks="false"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-res-datepicker"
                                                    ng-click="openDatePickerBeginTime()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                        </p>
                                        <p class="input-group" style="margin-top:17px;" ng-show="isUserDefined()">
                                            <input type="text" class="form-control ausrichtung date"
                                                   uib-datepicker-popup="{{::format}}"
                                                   ng-model="activeSelectors.periodSubSelection.endDate"
                                                   is-open="openedDatePickerEndTime" min-date="minDate"
                                                   datepicker-options="dpOptions" show-button-bar="false"
                                                   date-disabled="disabled(date, mode)" show-weeks="false"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-res-datepicker"
                                                    ng-click="openDatePickerEndTime()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                    <br>
                    <button type="submit" Value="Click" ng-click="evaluateReport()" class="btn btn-sm">
                        <span ng-show="reportLoading"
                              class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>&nbsp;Auswerten
                    </button>

                    <div class="col-md-12" id="outputdiagramm">
                        <br><br>
                        <canvas id="reportChart" class="chart-base" chart-data="chartData"
                                chart-labels="chartLabels" chart-legend="false" chart-type="chartType"
                                chart-options="options"></canvas>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
