$font-stack: Arial, sans-serif;
$primary-color: #B11A3B;
$secondary-color: #FFFFFF;
$third-color: #DDDDDD;
$fourth-color: #999999;
$fifth-color: #666666;
$sixth-color: #333333;
$background-color: #4285f4;

body {
  font-family: $font-stack;
  color: $sixth-color;
  background-color: $secondary-color;

  a {
    color: $primary-color;
  }

  .repeat-item.ng-leave {
    -webkit-transition: 0.8s linear all;
    transition: 0.8s linear all;
  }

  .repeat-item.ng-enter,
  .repeat-item.ng-leave.ng-leave-active {
    opacity: 0;
    height: 0;
  }
  .repeat-item.ng-leave,
  .repeat-item.ng-enter.ng-enter-active {
    opacity: 1;
    height: auto;
  }

  .navbar-nav > li > a:hover{
    background-color:#BBBBBB;
    color: #FFFFFF;
    border-radius: 0;
  }
}

footer{
  background-color: $third-color;
  height: 40px;
  position:fixed;
  padding-top:10px;
}

.btn:focus {
  color: #FFFFFF;
}

.modal-dialog {
  border-radius: 0 !important
}

.modal-content {
  border-radius: 0 !important
}

/*
  Loading Animation
*/

.glyphicon-refresh-animate {
  color:white !important;
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

.alertposition{
  float: right;
  position:fixed;
  top:0;
  right: 0;
  margin-top: 75px;
  margin-right: 30px;
  z-index:2000;
}

.pagination {
  margin-bottom:0px;
  border-color:$third-color;
}

.pagination>.active>a, .pagination>.active>a:focus,
.pagination>.active>a:hover, .pagination>.active>span,
.pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: $primary-color;
  color:white !important;
  border-color: $primary-color;
}

.pagination>li>a:focus, .pagination>li>span:focus {
  background-color: $primary-color;
  color:white;
  border-color: $primary-color;
}

.pagination>li>a:hover,  .pagination>li>span:hover {
  background-color:$third-color;
  color:$sixth-color;
  border-color: $third-color;
}

.pagination>li>a, .pagination>li>span{
  color: $sixth-color;
  border-color: $third-color;
}

/*
  DATEPICKER
*/
.uib-datepicker-popup {
  padding-left:0px !important;
  padding-right:0px !important;
}

.uib-datepicker .uib-daypicker{
  background:white !important;
}

.uib-datepicker:focus, .uib-daypicker:focus {
  outline: 0 none;
}

.uib-datepicker .active {
  background: $primary-color;
}

.uib-datepicker .active:hover {
  background: white;
}

/*
  FOCUS
*/

:focus {
  outline: 0 none !important;
}


/*# sourceMappingURL=style.css.map */
