.overview-container {

  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  padding-top: 25px;

  button {
    background-color: $primary-color;
    color: #FFFFFF;
    border-radius: 0;
  }

  button:hover {
    color: #FFFFFF;
  }

  .filter-box {

    border: solid 1px $third-color;

    ul {
      padding: 10px 0px;
    }

    li {
      list-style: none;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    p {
      margin-top: 5px;
    }

    input {
      margin-top: 5px;
      border-radius: 0;
      text-align: center;
    }

    input[type=checkbox] {
      margin-top: 7px;
    }

  }

  .bookings-box {
    border: solid 1px $third-color;

    ul {
      padding: 10px 5px;
    }

    li {
      list-style: none;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
    }

    li:hover {
      background-color: #eeeeee;
      padding-left: 5px;
    }

    .hover {
      li:hover {
        background-color: #FFFFFF;
      }
    }

    .header {
      font-weight: bold;
    }

  }

  .bookinglabel {
    background: $third-color;
    width: 100%;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0px;
  }

  .free {
    margin-top: 10px;
  }

}

.modal-container-overview {

  button {
    background-color: $primary-color;
    color: #FFFFFF;
    border-radius: 0;
  }

  button:hover {
    color: #FFFFFF;
  }

  p {
    margin-top: 5px;
  }
}

