<div class="row" ng-controller="OverviewController">
    <div class="col-xs-12 overview-container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <label for="filter" class="bookinglabel">Filter</label>

                        <div id="filter" class="filter-box">
                            <ul>
                                <li>
                                    <div class="col-xs-3 col-md-3">
                                        <p>Filter:</p>

                                        <div class="clearfix"></div>
                                        <p ng-hide="isDisabled()">Datum:</p>
                                    </div>
                                    <div class="col-xs-9 col-md-9">
                                        <input type="checkbox" ng-model="filter">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-12 col-md-12">
                                        <p class="input-group" ng-hide="isDisabled()">
                                            <input type="text" class="form-control date"
                                                   uib-datepicker-popup="{{::format}}"
                                                   ng-model="filterDate" is-open="opened" min-date="minDate"
                                                   datepicker-options="dpOptions" show-button-bar="{{::buttonBar}}"
                                                   date-disabled="disabled(date, mode)" show-weeks="false"/>
                                              <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()"
                                                        style="margin-top: 5px">
                                                    <i class="glyphicon glyphicon-calendar"></i></button>
                                              </span>
                                        </p>
                                        <br ng-show="isDisabled()">
                                        <button ng-hide="isDisabled()" ng-click="filterBookings()" type="submit"
                                                class="btn btn-sm">Suchen
                                        </button>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12 free visible-xs">
                    </div>
                    <div class="col-xs-12 col-md-9">
                        <label for="bookings" class="bookinglabel">Meine Buchungen
                            <span class="badge" ng-bind="bookings.length"></span>
                        </label>

                        <div id="bookings" class="bookings-box">
                            <ul class="hover">
                                <li class="header hidden-xs" ng-show="bookings.length">
                                    <div class="col-xs-6 col-md-3 col-md-offset-2">
                                        <p>Beginn</p>
                                    </div>
                                    <div class="col-xs-6 col-md-3">
                                        <p>Ende</p>
                                    </div>
                                    <div class="col-xs-6 col-md-2">
                                        <p>Raum</p>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <div class="clearfix"></div>
                                <li ng-repeat="booking in bookings  | orderBy: 'date.begin' track by booking.bookingID">
                                    <div class="col-xs-6 col-md-2">
                                        <span ng-bind="::booking.status | bookingStatus"
                                              class="label label-{{::booking.status | bookingStatusLight}}"></span>
                                    </div>
                                    <div class="clearfix visible-xs"></div>
                                    <div class="col-xs-5 col-md-3">
                                        {{::booking.date.begin | date : 'dd.MM.yyyy' : '+0100'}},
                                        {{::booking.date.begin| date : 'HH:mm' : '+0100'}}
                                    </div>
                                    <div class="col-xs-2 visible-xs">
                                        <p>bis</p>
                                    </div>
                                    <div class="col-xs-5 col-md-3">
                                        {{::booking.date.end | date : 'dd.MM.yyyy' : '+0100'}}, {{::booking.date.end|
                                        date : 'HH:mm' : '+0100'}}
                                    </div>
                                    <div class="col-xs-12 col-md-2">
                                        <label class="visible-xs">Raum: {{::booking.room.name}}</label>

                                        <p class="hidden-xs">{{::booking.room.name}}</p>
                                    </div>
                                    <div class="col-xs-12 col-md-2">
                                        <button type="button" class="btn btn-sm" ng-click="openEditModal(booking)">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </button>
                                        <button type="button" class="btn btn-sm" ng-click="openDeleteModal(booking)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li ng-show="!bookings.length && filter">Für den gewählten Tag sind keine Buchungen
                                    verfügbar.
                                </li>
                                <li ng-show="!bookings.length && !filter">Es sind keine Buchungen verfügbar.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="seeInfo.html">
    <div class="modal-header">
        <h4 class="modal-title" style="display: inline">Buchungsinformationen</h4>
            <span class="close glyphicon glyphicon-remove" style="float: right; cursor: pointer"
                  ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <div class="col-xs-4 col-md-4">
            <p>Beschreibung:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span ng-bind="::booking.description"></span>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Raum:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span ng-bind="::booking.room.name"></span>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Beginn:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span ng-bind="::booking.date.begin | date : 'dd.MM.yyyy, HH:mm' : '+0100'"></span> Uhr
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Ende:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span ng-bind="::booking.date.end | date : 'dd.MM.yyyy, HH:mm' : '+0100'"></span> Uhr
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Personenanzahl:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span ng-bind="::booking.memberCount"></span>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Bestuhlung:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span ng-bind="::booking.seatingID | seating"></span>
        </div>
        <div class="clearfix"></div>
        <div>
            <div class="col-xs-4 col-md-4">
                <p>Externe Teilnehmer:</p>
            </div>
            <div class="col-xs-8 col-md-8">
                <span ng-show="booking.extern">Ja</span>
                <span ng-show="!booking.extern">Nein</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div>
            <div class="col-xs-4 col-md-4">
                <p>Service:</p>
            </div>
            <div class="col-xs-8 col-md-8">
                <span ng-show="booking.service">Ja</span>
                <span ng-show="!booking.service">Kein Service</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Status:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span ng-bind="::booking.status | bookingStatus"
                  class="label label-{{::booking.status | bookingStatusLight}}"></span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer modal-container-bookings">
        <button class="btn btn-sm" type="button" ng-click="ok()">Schließen</button>
    </div>
</script>

<script type="text/ng-template" id="ownBookingDelete.html">
    <div class="modal-header">
        <h4 class="modal-title" style="display: inline">Buchung {{ function }}</h4>
            <span class="close glyphicon glyphicon-remove" style="float: right; cursor: pointer"
                  ng-click="cancel()"></span>
    </div>
    <div class="modal-body modal-container-room">
        <div class="col-xs-12 col-md-12">
            Möchten Sie Ihre Buchung <strong>{{ booking.description }}</strong> wirklich löschen?<br>
            Dies kann nicht rückgängig gemacht werden!
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 col-md-12">
            <br>
            <label><input type="checkbox" ng-model="accept"> Ich bestätige, dass die Buchung unwiederruflich gelöscht
                wird!</label>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer modal-container-room">
        <button class="btn btn-sm" type="button" ng-click="submit()">Buchung {{function}}</button>
        <button class="btn btn-sm" type="button" ng-click="cancel()">Abbrechen</button>
    </div>
</script>


