.passwordreset-container {

  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  background-color: $third-color;

  input {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    height: 40px;
    width: 100%;
    background-color: $secondary-color;
    color: $fourth-color;
  }

  input[type=text] {
    border: 0 solid #FFF
  }
  input[type=password] {
    border: 0 solid #FFF;
  }

  button{
    background-color: $primary-color;
    color: #FFFFFF;
    width: 100%;
    border-radius: 0px;
  }

  .logo {
    background-color: $secondary-color;
    text-align: center;

    img {
      width: 100%;
    }
  }
  @media(max-width: 992px) {
    img {
      height: 150px;
      width: auto;
    }
  }

}