<div class="row" ng-controller="LoginController">
    <div class="col-xs-12 col-md-10 col-md-offset-1 login-container">
        <div class="row">
            <div class="col-xs-12 logo">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <img ng-src="/public/images/Logo_alpha_booking.png"/>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 col-md-offset-3" style="margin-top:10px;">
                <p><strong>Willkommen bei AlphaBooking</strong></p>

                <p>Bitte loggen Sie sich ein um ein Besprechungszimmer zu buchen.</p>
            </div>
            <div class="clearfix"></div>
            <form ng-enter="login()">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <div ng-bind="errorMessage" class="errorMessage hidden"></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <input type="text" name="email" placeholder="Benutzername" ng-model="email">
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <input type="password" name="password" placeholder="Passwort" ng-model="password">
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <button type="submit" name="login_submit" ng-click="login()" class="btn">
                        <span ng-show="loginLoading"
                              class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>&nbsp;Login
                    </button>
                </div>
                <div class="clearfix"></div>
            </form>
            <div class="col-md-6 col-md-offset-3" style="margin-top:10px;">
                <p>Bei Fragen zu der Bedienung lesen Sie bitte das <a href="/public/images/benutzerhandbuch.pdf"
                                                                      download target="_blank">Handbuch</a> oder
                    kontaktieren Sie einen Administrator. </p>

                <p>Wenn Sie Ihr Passwort vergessen haben, können Sie es hier zurücksetzen.
                    <a ui-sref="passwordreset">Passwort zurücksetzen &gt;&gt;</a></p>
            </div>
        </div>
    </div>
</div>
