<div class="row" ng-controller="PasswordresetController">
    <div class="col-xs-12 col-md-10 col-md-offset-1 passwordreset-container">
        <div class="row">
            <div class="col-xs-12 logo">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <img src="/public/images/Logo_alpha_booking.png"/>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 col-md-offset-3" style="margin-top:10px;">
                <p><strong>Passwort zurücksetzen</strong></p>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 col-md-offset-3">
                <p>Wenn Sie Ihr Passwort vergessen haben, melden Sie sich bitte beim Help-Desk. Die Mitarbeiter
                    können Ihr Passwort zurücksetzen.</p>
            </div>
            <div class="clearfix"></div>
            <!--<form>
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <input type="text" name="email" placeholder="max.mustermann@mail.de" ng-bind="email" ng-model="email">
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <br>
                </div>
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <button type="submit" name="reset_submit" ng-click="change()" class="btn">Passwort zurücksetzen</button>
                </div>
            </form>-->
            <div class="col-md-6 col-md-offset-3" style="margin-top:10px;">
                <p>Bei Fragen zu der Bedienung lesen Sie bitte das <a href="/public/images/benutzerhandbuch.pdf" download target="_blank">Handbuch</a> oder
                    kontaktieren Sie einen Administrator. </p>

                <p><a ui-sref="login">&lt;&lt; Zurück zur Anmeldung</a></p>
            </div>
        </div>
    </div>
</div>