.admin-container {

  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  padding-top: 25px;

  .nav-pills > .active > a,
  .nav-pills > .active > a:hover,
  .nav-pills > .active > a:focus {
    background-color: $primary-color;
    border-radius: 0;
  }

  .nav-pills li {
    margin-left: 0;
  }

  .col-md-12 {
    padding-right: 0;
  }

  .nav-pills > li > a:hover {
    background-color: #BBBBBB;
    color: #FFFFFF;
    border-radius: 0;
  }

  @media(max-width: 768px) {
    .nav {
      margin-right: 0 !important;
    }
    .nav, .nav-pills li {
      width: 100%;
    }
  }

  button {
    background-color: $primary-color;
    color: #FFFFFF;
    border-radius: 0;
  }

  button:hover {
    color: #FFFFFF;
  }

  .admin-box {
    border: solid 1px $third-color;

    ul {
      padding: 10px 5px;
    }

    li {
      list-style: none;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
    }

    li:hover {
      background-color: #eeeeee;
      padding-left: 5px;
    }

    .hover {
      li:hover {
        background-color: #FFFFFF;
        padding-left: 5px;
      }
    }

    .header {
      font-weight: bold;
    }

    .glyphicon-plus-sign, .glyphicon-edit, .glyphicon-remove-sign {
      color: $primary-color;
    }

    select {
      border-radius: 0;
    }

  }

  .admin-booking-box1 {
    border: solid 1px $third-color;

    ul {
      padding: 10px;
    }

    li {
      list-style: none;
    }

    select {
      border-radius: 0;
    }

    input {
      border-radius: 0;
      text-align: center;
    }

    .abstand {
      margin-top: 5px;
    }

  }

  .admin-booking-box2 {
    border: solid 1px $third-color;

    ul {
      padding: 10px 5px;
    }

    li {
      list-style: none;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
    }

    li:hover {
      background-color: #eeeeee;
      padding-left: 5px;
    }

    .hover {
      li:hover {
        background-color: #FFFFFF;
        padding-left: 5px;
      }
    }

    .header {
      font-weight: bold;
    }

  }

  .adminlabel {
    background: $third-color;
    width: 100%;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 0px;
  }

}

.modal-container-room, .modal-container-bookings {

  button {
    background-color: $primary-color;
    color: #FFFFFF;
    border-radius: 0;
  }

  button:hover {
    color: #FFFFFF;
  }

  input {
    margin-top: 5px;
    border-radius: 0;
  }

  p {
    margin-top: 5px;
  }

  select {
    border-radius: 0;
  }

  li {
    list-style: none;
  }

}


