<div class="row">
    <div class="col-xs-12 col-md-12 admin-container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ul class="nav nav-pills red col-xs-12 col-md-12" ng-controller="AdminMenuController">
                    <li ng-repeat="menuitem in menu" ng-class="{ active:isSelected($index)}"><a
                            ui-sref="{{ ::menuitem.status }}"><span class="glyphicon glyphicon-{{::menuitem.symbol}}"></span> {{ ::menuitem.description }}</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div ui-view="admin"></div>
        </div>
    </div>
</div>
</div>

