<div class="col-md-10 col-md-offset-1" ng-controller="BookingManagerController">

    <div id="adminbox" class="admin-booking-box1">
        <div class="col-md-6" style="padding: 0">
            <ul>
                <li>
                    <div>
                        <label for="filter" class="adminlabel">Filter</label>
                    </div>
                    <div class="clearfix"></div>
                    <div id="filter" class="admin-booking-box1">
                        <ul style="min-height: 60px">
                            <li>
                                <div class="col-xs-3 col-md-2 abstand">
                                    <p>Filter:</p>
                                </div>
                                <div class="col-xs-9 col-md-1 abstand">
                                    <input type="checkbox" ng-model="filter">
                                </div>
                                <div class="clearfix visible-xs"></div>
                                <div class="col-xs-12 col-md-2 col-md-offset-1 abstand">
                                    <p ng-hide="isDisabled()">Datum:</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="input-group" ng-hide="isDisabled()">
                                        <input type="text" class="form-control"
                                               uib-datepicker-popup="{{::format}}"
                                               ng-model="filterDate" is-open="opened" min-date="minDate"
                                               datepicker-options="dpOptions" show-button-bar="{{::buttonBar}}"
                                               date-disabled="disabled(date, mode)" show-weeks="false"/>
                                              <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open()">
                                                    <i class="glyphicon glyphicon-calendar"></i></button>
                                              </span>
                                    </p>
                                    <br ng-show="isDisabled()">
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-2">
                                    <button ng-hide="isDisabled()" ng-click="filterBookings()" type="submit"
                                            class="btn btn-sm">Suchen
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-md-6" style="padding: 0">
            <ul>
                <li>
                    <div>
                        <label for="time" class="adminlabel">Pufferzeit</label>
                    </div>
                    <div class="clearfix"></div>
                    <div id="time" class="admin-booking-box1">
                        <ul style="min-height: 60px">
                            <li>
                                <div class="col-xs-12 col-md-7 abstand" >
                                    <input type="text" class="form-control"/>
                                </div>
                                <div class="col-xs-12 col-md-5 abstand">
                                    <button type="submit"
                                            class="btn btn-sm">Pufferzeit ändern
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 col-md-12" style="padding: 0">
            <ul>
                <li>
                    <div>
                        <label for="bookings" class="adminlabel">Buchungen</label>
                    </div>
                    <div class="clearfix"></div>
                    <div id="bookings" class="admin-booking-box2">
                        <ul class="hover">
                            <li class="header hidden-xs" ng-show="bookings.length">
                                <div class="col-xs-6 col-md-3 col-md-offset-2">
                                    <p>Beginn</p>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <p>Ende</p>
                                </div>
                                <div class="col-xs-6 col-md-2">
                                    <p>Raum</p>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <div class="clearfix"></div>
                            <li ng-repeat="booking in bookings  | orderBy: 'date.begin' track by booking.bookingID">
                                <div class="col-xs-6 col-md-2">
                                        <span ng-bind="::booking.status | bookingStatus"
                                              class="label label-{{::booking.status | bookingStatusLight}}"></span>
                                </div>
                                <div class="clearfix visible-xs"></div>
                                <div class="col-xs-5 col-md-3">
                                    {{::booking.date.begin | date : 'dd.MM.yyyy' : '+0100'}},
                                    {{::booking.date.begin| date : 'HH:mm' : '+0100'}} Uhr
                                </div>
                                <div class="col-xs-2 visible-xs">
                                    <p>bis</p>
                                </div>
                                <div class="col-xs-5 col-md-3">
                                    {{::booking.date.end | date : 'dd.MM.yyyy' : '+0100'}}, {{::booking.date.end|
                                    date : 'HH:mm' : '+0100'}} Uhr
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <label class="visible-xs">Raum: {{::booking.room.name}}</label>

                                    <p class="hidden-xs">{{::booking.room.name}}</p>
                                </div>
                                <div class="col-xs-12 col-md-2">
                                    <button type="button" class="btn btn-sm" ng-click="openInfoModal(booking)">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </button>
                                    <button ng-hide="isCanceled(booking)" type="button" class="btn btn-sm"
                                            ng-click="openEditModal(booking)">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>

                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li ng-show="!bookings.length && filter">Für den gewählten Tag sind keine Buchungen
                                verfügbar.
                            </li>
                            <li ng-show="!bookings.length && !filter">Es sind keine Buchungen verfügbar.</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script type="text/ng-template" id="seeBookingInfo.html">
    <div class="modal-header">
        <h4 class="modal-title" style="display: inline">Buchungsinformationen</h4>
            <span class="close glyphicon glyphicon-remove" style="float: right; cursor: pointer"
                  ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <div class="col-xs-4 col-md-4">
            <p>Beschreibung:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span ng-bind="::booking.description"></span>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Raum:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span ng-bind="::booking.room.name"></span>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Beginn:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span ng-bind="::booking.date.begin | date : 'dd.MM.yyyy, HH:mm' : '+0100'"></span> Uhr
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Ende:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span ng-bind="::booking.date.end | date : 'dd.MM.yyyy, HH:mm' : '+0100'"></span> Uhr
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Personenanzahl:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span ng-bind="::booking.memberCount"></span>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Bestuhlung:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span ng-bind="::booking.seatingID | seating"></span>
        </div>
        <div class="clearfix"></div>
        <div>
            <div class="col-xs-4 col-md-4">
                <p>Externe Teilnehmer:</p>
            </div>
            <div class="col-xs-8 col-md-8">
                <span ng-show="booking.extern">Ja</span>
                <span ng-show="!booking.extern">Nein</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div>
            <div class="col-xs-4 col-md-4">
                <p>Service:</p>
            </div>
            <div class="col-xs-8 col-md-8">
                <span ng-show="booking.service">Ja</span>
                <span ng-show="!booking.service">Kein Service</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Anfrage von:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span class="label label-default">{{::booking.requester.firstname}} {{ ::booking.requester.surname }}</span>

        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>E-Mail:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            {{::booking.requester.mail}}
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Telefon:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            {{::booking.requester.phone}}
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4" ng-hide="::booking.costcenter === 0">
            <p>Kostenstelle:</p>
        </div>
        <div class="col-xs-8 col-md-8" ng-hide="::booking.costcenter === 0">
            {{::booking.costcenter}}
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Status:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span ng-bind="::booking.status | bookingStatus"
                  class="label label-{{::booking.status | bookingStatusLight}}"></span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer modal-container-bookings">
        <button class="btn btn-sm" type="button" ng-click="ok()">Schließen</button>
    </div>
</script>

<script type="text/ng-template" id="ChangeBooking.html">
    <div class="modal-header">
        <h4 class="modal-title" style="display: inline">Buchung ändern</h4>
            <span class="close glyphicon glyphicon-remove" style="float: right; cursor: pointer"
                  ng-click="cancel()"></span>
    </div>
    <div class="modal-body modal-container-bookings">
        <div class="col-xs-4 col-md-4">
            <p>Beschreibung:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <p>{{reservation.description}}</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Anfrage von:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span class="label label-default">{{reservation.requester.firstname}} {{ reservation.requester.surname }}</span>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Alter Raum:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <p>{{reservation.room.name}}</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Neuer Raum:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <select class="form-control" ng-model="selectedRoom"
                    ng-options="::room.name for room in rooms | orderBy: 'name' track by room.roomID">
            </select>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-8 col-md-8 col-xs-offset-4 col-md-offset-4">
            <div class="col-xs-12 col-md-6">
                <p>Beschreibung:</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <p>{{selectedRoom.description}}</p>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="col-xs-12 col-md-6">
                <p>Max. Personen:</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <p>{{selectedRoom.capacity}}</p>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="col-xs-12 col-md-6">
                <p>Mögl. Bestuhlung:</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <p><span ng-repeat="seating in selectedRoom.possibleSeatings">{{seating | seating }}
                    <span ng-hide="$last">, </span></span>
                    <span ng-hide="selectedRoom.possibleSeatings || selectedRoom.possibleSeatings.length">Keine Bestuhlung</span>
                </p>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="col-xs-12 col-md-6">
                <p>Ausstatttung:</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <p><span ng-repeat="fix in selectedRoom.fixedEquipments">{{fix | fixedEquipment}}
                    <span ng-hide="$last">, </span></span>
                    <span ng-hide="selectedRoom.fixedEquipments || selectedRoom.fixedEquipments.length">Keine feste Ausstattung</span>
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer modal-container-bookings">
        <button class="btn btn-sm" type="button" ng-click="submit()">Ändern</button>
        <button class="btn btn-sm" type="button" ng-click="cancel()">Schließen</button>
    </div>
</script>