<div class="col-md-10 col-md-offset-1" ng-controller="ReservationAdminController">

    <div id="adminbox" class="admin-box">
        <ul class="hover" ng-hide="!bookings.length">
            <li class="header hidden-xs">
                <div class="col-xs-6 col-md-2">
                    <p>Beschreibung</p>
                </div>
                <div class="col-xs-6 col-md-1">
                    <p>Raum</p>
                </div>
                <div class="col-xs-6 col-md-2">
                    <p>Beginn</p>
                </div>
                <div class="col-xs-6 col-md-2">
                    <p>Ende</p>
                </div>
                <div class="col-xs-6 col-md-2">
                    <p>Anfrage von</p>
                </div>
            </li>
        </ul>
        <ul>
            <div class="clearfix"></div>
            <li ng-repeat="booking in bookings">
                <div class="hidden-xs col-md-2">
                    {{booking.description}}
                </div>
                <div class="col-xs-6 col-md-1">
                    {{booking.room.name}}
                </div>
                <div class="visible-xs clearfix"></div>
                <div class="col-xs-5 col-md-2">
                    {{booking.date.begin | date : 'dd.MM.yyyy' : '+0100'}}, {{booking.date.begin| date : 'HH:mm' :
                    '+0100'}}
                </div>
                <div class="col-xs-2 visible-xs">
                    <p>bis</p>
                </div>
                <div class="col-xs-5 col-md-2">
                    {{booking.date.end | date : 'dd.MM.yyyy' : '+0100'}}, {{booking.date.end| date : 'HH:mm' : '+0100'}}
                </div>
                <div class="hidden-xs col-md-2">
                    {{booking.requester.firstname}} {{ booking.requester.surname }}
                </div>
                <div class="col-xs-12 col-md-3">
                    <button type="button" class="btn btn-sm" data-toggle="modal"
                            ng-click="openBookingDetailModal(booking.bookingID)">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                    <button type="button" class="btn btn-sm" ng-click="approve(booking.bookingID)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="btn btn-sm" ng-click="decline(booking.bookingID)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="button" class="btn btn-sm" ng-click="openBookingEditModal(booking)">
                        <span class="glyphicon glyphicon-edit" style="color: #FFFFFF"></span>
                    </button>
                </div>

                <div class="clearfix"></div>
            </li>
            <li ng-hide="bookings.length" class="repeat-item">Es sind keine Reservierungsanfragen zur Verwaltung
                vorhanden.
            </li>
        </ul>
    </div>
</div>

<script type="text/ng-template" id="detailReservationView.html">
    <div class="modal-header">
        <h4 class="modal-title" style="display: inline">Zusätzliche Informationen</h4>
            <span class="close glyphicon glyphicon-remove" style="float: right; cursor: pointer"
                  ng-click="cancel()"></span>
    </div>
    <div class="modal-body">
        <div class="col-xs-4 col-md-4">
            <p>Beschreibung:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            {{reservation.description}}
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Raum:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            {{reservation.room.name}}
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Beginn:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            {{reservation.date.begin | date : 'dd.MM.yyyy' : '+0100'}}, {{reservation.date.begin| date : 'HH:mm'
            :'+0100'}} Uhr
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Ende:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            {{reservation.date.end | date : 'dd.MM.yyyy' : '+0100'}}, {{reservation.date.end| date : 'HH:mm' :'+0100'}}
            Uhr
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Personenanzahl:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            {{reservation.memberCount}}
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Bestuhlung:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            {{reservation.seatingID | seating}}
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Externe Teilnehmer:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span ng-show="reservation.extern">Ja</span>
            <span ng-show="!reservation.extern">Nein</span>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Service:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span ng-show="reservation.service">Ja</span>
            <span ng-show="!reservation.service">Kein Service</span>
        </div>
        <div class="clearfix"></div>
        <br>

        <div class="col-xs-4 col-md-4">
            <p>Anfrage von:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span class="label label-default">{{reservation.requester.firstname}} {{ reservation.requester.surname }}</span>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>E-Mail:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            {{reservation.requester.mail}}
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Telefon:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            {{reservation.requester.phone}}
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4" ng-hide="reservation.costcenter === 0">
            <p>Kostenstelle:</p>
        </div>
        <div class="col-xs-8 col-md-8" ng-hide="reservation.costcenter === 0">
            {{reservation.costcenter}}
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer modal-container-bookings">
        <button class="btn btn-sm" type="button" ng-click="ok()">Schließen</button>
    </div>
</script>

<script type="text/ng-template" id="ChangeBooking.html">
    <div class="modal-header">
        <h4 class="modal-title" style="display: inline">Buchung ändern</h4>
            <span class="close glyphicon glyphicon-remove" style="float: right; cursor: pointer"
                  ng-click="cancel()"></span>
    </div>
    <div class="modal-body modal-container-bookings">
        <div class="col-xs-4 col-md-4">
            <p>Beschreibung:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            {{reservation.description}}
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Anfrage von:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <span class="label label-default">{{reservation.requester.firstname}} {{ reservation.requester.surname }}</span>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Alter Raum:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            {{reservation.room.name}}
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-4 col-md-4">
            <p>Neuer Raum:</p>
        </div>
        <div class="col-xs-8 col-md-8">
            <select class="form-control" ng-model="selectedRoom"
                    ng-options="::room.name for room in rooms | orderBy: 'name' track by room.roomID">
            </select>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-8 col-md-8 col-xs-offset-4 col-md-offset-4">
            <div class="col-xs-12 col-md-6">
                <p>Beschreibung:</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <p>{{selectedRoom.description}}</p>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="col-xs-12 col-md-6">
                <p>Max. Personen:</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <p>{{selectedRoom.capacity}}</p>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="col-xs-12 col-md-6">
                <p>Mögl. Bestuhlung:</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <p><span ng-repeat="seating in selectedRoom.possibleSeatings">{{seating | seating }}
                    <span ng-hide="$last">, </span></span>
                    <span ng-hide="selectedRoom.possibleSeatings || selectedRoom.possibleSeatings.length">Keine Bestuhlung</span>
                </p>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="col-xs-12 col-md-6">
                <p>Ausstatttung:</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <p><span ng-repeat="fix in selectedRoom.fixedEquipments">{{fix | fixedEquipment}}
                    <span ng-hide="$last">, </span></span>
                    <span ng-hide="selectedRoom.fixedEquipments || selectedRoom.fixedEquipments.length">Keine feste Ausstattung</span>
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer modal-container-bookings">
        <button class="btn btn-sm" type="button" ng-click="submit()">Ändern</button>
        <button class="btn btn-sm" type="button" ng-click="cancel()">Schließen</button>
    </div>
</script>

