<div class="col-md-10 col-md-offset-1" ng-controller="RoomManagerController">

    <div id="adminbox" class="admin-box">
        <ul>
            <div class="clearfix"></div>
            <br>

            <div class="col-xs-12 col-md-3">
                <select class="form-control" ng-model="selectedRoom"
                        ng-options="::room.name for room in rooms | orderBy: 'name' track by room.roomID"
                        ng-change="selectedRoomChanged()">
                </select>
                <br>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-12 col-md-3 col-md-offset-6">
                <span class="glyphicon glyphicon-plus-sign"></span>
                <a href="" ng-click="openAddRoomModal()">Raum hinzufügen</a>
                <br>
                <span class="glyphicon glyphicon-remove-sign"></span>
                <a href="" ng-click="openDeleteRoomModal()">Raum löschen</a>
                <div class="visible-xs">
                    <span class="glyphicon glyphicon-edit"></span>
                    <a href="" ng-click="openEditRoomModal()">Raum bearbeiten</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <br>

            <div class="col-xs-5 col-md-2">
                <p>Beschreibung:</p>
            </div>
            <div class="col-xs-7 col-md-5">
                <p>{{selectedRoom.description}}</p>
            </div>
            <div class="clearfix"></div>
            <br>

            <div class="col-xs-5 col-md-2">
                <p>Max. Personen:</p>
            </div>
            <div class="col-xs-7 col-md-5">
                <p>{{selectedRoom.capacity}}</p>
            </div>
            <div class="clearfix"></div>
            <br>

            <div class="col-xs-5 col-md-2">
                <p>Mögl. Bestuhlung:</p>
            </div>
            <div class="col-xs-7 col-md-5">
                <p><span ng-repeat="seating in selectedRoom.possibleSeatings">{{seating | seating }}
                    <span ng-hide="$last">, </span></span>
                    <span ng-hide="selectedRoom.possibleSeatings || selectedRoom.possibleSeatings.length">Keine Bestuhlung</span>
                </p>
            </div>
            <div class="clearfix"></div>
            <br>

            <div class="col-xs-5 col-md-2">
                <p>Ausstatttung:</p>
            </div>
            <div class="col-xs-7 col-md-5">
                <p><span ng-repeat="fix in selectedRoom.fixedEquipments">{{fix | fixedEquipment}}
                    <span ng-hide="$last">, </span></span>
                    <span ng-hide="selectedRoom.fixedEquipments || selectedRoom.fixedEquipments.length">Keine feste Ausstattung</span>
                </p>
            </div>
            <div class="col-xs-12 col-md-3 col-md-offset-2 hidden-xs">
                <span class="glyphicon glyphicon-edit"></span>
                <a href="" ng-click="openEditRoomModal()">Raum bearbeiten</a>
            </div>
            <div class="clearfix"></div>
        </ul>
    </div>

</div>

<script type="text/ng-template" id="roomAdd.html">
    <div class="modal-header">
        <h4 class="modal-title" style="display: inline">Raum {{ function }}</h4>
            <span class="close glyphicon glyphicon-remove" style="float: right; cursor: pointer"
                  ng-click="cancel()"></span>
    </div>
    <div class="modal-body modal-container-room">
        <form name="roomFormular">
            <div class="col-xs-12 col-md-3">
                <p>Raumname:</p>
            </div>
            <div class="col-xs-12 col-md-9">
                <input type="text" class="form-control" name="roomname" ng-model="room.name" required ng-minlength="5"
                       ng-maxlength="20" ng-disabled="fieldsDisabled">
                <div ng-messages="roomFormular.roomname.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Der Raumname muss ausgefüllt sein.</div>
                    <div ng-message="minlength">Der Raumname ist zu kurz.</div>
                    <div ng-message="maxlength">Der Raumname ist zu lang.</div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-md-3">
                <p>Beschreibung:</p>
            </div>
            <div class="col-xs-12 col-md-9">
                <input type="text" class="form-control" name="description" ng-model="room.description" required
                       ng-maxlength="45" ng-disabled="fieldsDisabled">
                <div ng-messages="roomFormular.description.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Die Beschreibung muss ausgefüllt sein.</div>
                    <div ng-message="maxlength">Die Beschreibung ist zu lang.</div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-md-3">
                <p>Max. Personen:</p>
            </div>
            <div class="col-xs-12 col-md-9">
                <input type="number" class="form-control" name="capacity" ng-model="room.capacity" required min="2"
                       max="40" ng-disabled="fieldsDisabled">
                <div ng-messages="roomFormular.capacity.$error" style="color:maroon" role="alert">
                    <div ng-message="required">Die max. Personenzahl muss ausgefüllt sein.</div>
                    <div ng-message="max">Die max. Personenzahl darf nicht größer als 40 sein.</div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-md-3">
                <p>Mögl. Bestuhlung:</p>
            </div>
            <div class="col-xs-12 col-md-9">
                <ul>
                    <li ng-repeat="seating in possibleSeatings">
                        <label>
                            <input type="checkbox" ng-model="seating.selected" ng-change="seatingChanged(seating)"
                                   ng-disabled="fieldsDisabled">
                            {{ seating.id | seating }}
                        </label>
                    </li>
                </ul>
                <div ng-show="seatings.$error" style="color:maroon" role="alert">
                    Mindestens eine Bestuhlung muss ausgewählt sein.
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-md-3">
                <p>Raumausstattung:</p>
            </div>
            <div class="col-xs-12 col-md-9">
                <ul>
                    <li ng-repeat="equipment in fixedEquipments">
                        <input type="checkbox" ng-model="equipment.selected" ng-disabled="fieldsDisabled">
                        {{equipment.id | fixedEquipment }}
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="modal-footer modal-container-room">
        <button class="btn btn-sm" type="button" ng-click="submit()">Raum {{function}}</button>
        <button class="btn btn-sm" type="button" ng-click="cancel()">Abbrechen</button>
    </div>
</script>
<script type="text/ng-template" id="roomDelete.html">
    <div class="modal-header">
        <h4 class="modal-title" style="display: inline">Raum {{ function }}</h4>
            <span class="close glyphicon glyphicon-remove" style="float: right; cursor: pointer"
                  ng-click="cancel()"></span>
    </div>
    <div class="modal-body modal-container-room">
        <div class="col-xs-12 col-md-12">
            Möchten Sie den Raum <strong>{{ room.name }}</strong> wirklich löschen?<br>
            Dies kann nicht rückgängig gemacht werden!
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 col-md-12">
            <br>
            <label><input type="checkbox" ng-model="accept"> Ich bestätige, dass der Raum unwiederruflich gelöscht
                wird!</label>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer modal-container-room">
        <button class="btn btn-sm" type="button" ng-click="submit()">Raum {{function}}</button>
        <button class="btn btn-sm" type="button" ng-click="cancel()">Abbrechen</button>
    </div>
</script>

